<div class="container">
  <form [formGroup]="importForm" (ngSubmit)="onSubmit()">
    <label for="curriculum">Curriculum:<span class="text-danger">*</span></label>
    <select id="curriculum" name="curriculum" formControlName="curriculum" required>
      <option value="" disabled>Select Curriculum</option>
      <option value="ΠΡΟΓΡΑΜΜΑ 5 ΕΤΩΝ ΣΠΟΥΔΩΝ (2019)">ΠΑΔΑ</option>
      <option value="Υπό Εφαρμογή - Νέο Πρόγραμμα Σπουδών (από 20/9/2014)">Ν2</option>
      <option value="2017 - ΝΕΟ [24">ΤΕΙ ΠΕΙΡΑΙΑ</option>
      <option value="Νέο Πρόγραμμα Σπουδών (από 20/9/2010)">Ν1</option>
    </select>

    <label for="registrationYear">Registration Year:</label>
    <input type="text" id="registrationYear" name="registrationYear" formControlName="registrationYear">

    <input type="file" (change)="onFileInput($event)" required>

    <!-- Display an error message if there is an error -->
    <div *ngIf="error && error!=''" class="message error">
      {{ error }}
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">Submit</button>
  </form>

</div>

<button type="submit" class="btn btn-primary" (click)="switch()">Switch to login</button>
