<div class="student-info">
  <h2>{{'Home.student' | translate}}</h2>
  <ul>
    <li><strong>AM:</strong> {{ user .info.am }}</li>
    <li><strong>{{'Home.name' | translate}}</strong> {{ user.info.firstName}}</li>
    <li><strong>{{'Home.surname' | translate}}</strong> {{ user.info.lastName }}</li>
    <li><strong>{{'Home.department' | translate}}</strong> {{ user.info.department }}</li>
    <li><strong>{{'Home.semester' | translate}}</strong> {{ user.info.currentSemester }}</li>
    <li><strong>{{'Home.year' | translate}}</strong> {{ user.info.registrationYear }}</li>
    <li><strong>{{'Home.curriculum' | translate}}</strong> {{ user.info.curriculum }}</li>
  </ul>
</div>
<div class="student-info" *ngIf="user.info.thesis.code!=''">
  <h2>{{'Home.thesis' | translate}}</h2>
  <ul>
    <li><strong>{{'Home.title' | translate}}</strong> {{ user.info.thesis.title }}</li>
    <li><strong>{{'Home.code' | translate}}</strong> {{ user.info.thesis.code }}</li>
    <li><strong>{{'Home.assign' | translate}}</strong> {{ user.info.thesis.assignmentDate }}</li>
    <li><strong>{{'Home.complete' | translate}}</strong> {{ user.info.thesis.completionDate }}</li>
    <li><strong>{{'Home.exam' | translate}}</strong> {{ user.info.thesis.examDate }}</li>
    <li><strong>{{'Home.status' | translate}}</strong> {{ user.info.thesis.status }}</li>
  </ul>
</div>
<mat-card>
  <mat-card-title>{{'Home.deletion' | translate}}</mat-card-title>
  <mat-card-content>{{ user.info.deletionYear }}</mat-card-content>
</mat-card>
