<div *ngIf="grades">
  <h2>Grades</h2>
  <table class="s-table">
    <thead>
      <tr>
        <th>Total Passed Courses</th>
        <th>Total Average Grade</th>
        <th>Total ECTS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="grades">
        <td>{{ grades.totalPassedCourses }}</td>
        <td>{{ grades.totalAverageGrade }}</td>
        <td>{{ grades.totalEcts }}</td>
      </tr>
    </tbody>
  </table>
  <div class="search-form">
    <div class="input-container">
      <mat-form-field [formGroup]="searchForm" appearance="fill">
        <input matInput type="text" class="form-control" formControlName="searchQuery" placeholder="Search...">
      </mat-form-field>
    </div>
    <div class="select-container">
      <mat-form-field [formGroup]="searchForm" appearance="fill">
        <select matNativeControl formControlName="searchType" class="search-select">
          <option value="name">Name</option>
          <option value="grade">Grade</option>
          <option value="id">ID</option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <table mat-table [dataSource]="filteredResponse" class="table" matSort>
    <!-- Course Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Course Name </th>
      <td mat-cell *matCellDef="let course">{{ course.name }}</td>
    </ng-container>

    <!-- Course Grade Column -->
    <ng-container matColumnDef="grade">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by grade">Grade</th>
      <td mat-cell *matCellDef="let course">{{ course.grade }}</td>
    </ng-container>

    <!-- Course ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Course ID</th>
      <td mat-cell *matCellDef="let course">{{ course.id }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['name', 'grade', 'id']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'grade', 'id']"></tr>
  </table>
  <mat-paginator
        #paginator
        [length]="filteredResponse.length"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="[10, 20, 50, 100]"
        aria-label="Select page"
        showFirstLastButtons
        (page)="handlePageEvent($event)">
  </mat-paginator>
</div>
