<div *ngIf="!neededCourses.passedAll; else passed">
  <div *ngIf="neededCourses.mandatoryCoursesNeeded > 0">
    <p>{{'Services.shared.mandatory' | translate}} {{ neededCourses.mandatoryCoursesNeeded }}</p>
    <table mat-table [dataSource]="mandatoryCourses">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{'Services.shared.name' | translate}}</th>
        <td mat-cell *matCellDef="let course">{{ course.name }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>{{'Services.shared.id' | translate}}</th>
        <td mat-cell *matCellDef="let course">{{ course.id }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id', 'name']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name']"></tr>
    </table>
    <mat-paginator
      #mandatoryPaginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25]"
      [showFirstLastButtons]="true"
      [length]="neededCourses.mandatoryCoursesLeft.length"
      [pageIndex]="0">
    </mat-paginator>
  </div>

  <div *ngIf="neededCourses.choiceCoursesNeeded > 0">
    <p>{{'Services.shared.choice' | translate}} {{ neededCourses.choiceCoursesNeeded }}</p>
    <table mat-table [dataSource]="choiceCoursesLeft">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{'Services.shared.name' | translate}}</th>
        <td mat-cell *matCellDef="let course">{{ course.name }}</td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>{{'Services.shared.id' | translate}}</th>
        <td mat-cell *matCellDef="let course">{{ course.id }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['id', 'name']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name']"></tr>
    </table>
    <mat-paginator
      #choiceCoursesPaginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25]"
      [showFirstLastButtons]="true"
      [length]="neededCourses.choiceCoursesLeft.length"
      [pageIndex]="0">
    </mat-paginator>
  </div>
</div>

<ng-template #passed>
  <mat-card>
    <mat-card-title>{{'Services.shared.passed' | translate}}</mat-card-title>
    <mat-card-content>*{{'Services.shared.check' | translate}}*</mat-card-content>
  </mat-card>
</ng-template>
