<div class="bar">
  <img src="assets/LOGO-STAMP-white.png" alt="Logo" class="bar-brand">
</div>
<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label><span class="text-danger">*</span>
      <input type="text" class="form-control" id="username" formControlName="username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label><span class="text-danger">*</span>
      <input type="password" class="form-control" id="password" formControlName="password" required>
    </div>
    <!-- Display a message if there is no error -->
    <div *ngIf="!error && message" class="message success">
      {{ message }}
    </div>

    <!-- Display an error message if there is an error -->
    <div *ngIf="error && error!=''" class="message error">
      {{ error }}
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Sign In</button>
  </form>
</div>

<span matSnackBarLabel>
  {{this.error}}
</span>
