form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    font-weight: bold;
    margin-bottom: 10px;
  }

  input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }

  button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  button:hover {
    background-color: #005f80;
  }

  .bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 150px;
  }

  .bar-brand {
    max-height: 100%;
    margin: 0 auto;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
